main {
    display: flex;
    min-height: 100%;
    justify-content: center;
}

main section {
    flex-grow: 1;
    max-width: 920px;
    padding: 0 20px;
    margin: 0 auto;
}

.history-content1 {
    display: flex;
    flex-direction: row;
}

ul {
    margin: 0;
}

.history-content1 img {
    height: 250px;
    width: 350px;
    margin-right: 5px;
    flex-shrink: 0;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(138, 43, 226, 0.3);
    margin-top: 17px;
}

.history-content2 {
    display: flex;
    flex-direction: row;
}

.history-content2 img {
    height: 250px;
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(138, 43, 226, 0.3);
    margin-top: 20px;
}

.history-content1 ul {
    padding-left: 20px;
}

.history-content2 ul {
    padding-left: 0;
}

h3, h4 {
    margin-bottom: 6px;
}



